body {
    background: #2b2c2c;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
    color: teal;
}

.btn--teal {
    border: 1px teal solid;
}

.navbar {
    box-shadow: 0px 1px 6px #191717 !important;
    height: 4.5rem;
}

.card {
    min-height: 0;
    background: transparent;
    border-color: #425353;
}

.card-img-over {
    width: 100px;
    height: auto;
    margin-top: 5%;
}

.chart-modal-body {
    height: 40rem !important;
}

.inverse>a,
.inverse>a>button {
    color: teal !important;
}

.inverse>a:hover,
.inverse>a:focus,
.inverse>a>button:hover {
    background: teal;
    color: #000000 !important;
    text-decoration: none;
}

.navbar-toggler>span,
.navbar-toggler-icon {
    color: teal !important;
    z-index: 100000;
}

table {
    overflow-x: auto !important;
}

.bg-inverse a,
.bg-inverse .navbar-toggler>span,
.navbar-toggler-icon {
    color: teal !important;
}

.bg-inverse>a:hover,
.bg-inverse>a:focus,
.bg-inverse>a>button:hover {
    background: teal !important;
    color: #000000;
    text-decoration: none;
}

a.navbar-brand:hover,
a.navbar-brand:focus,
a.navbar-brand:active {
    background: #212529 !important;
    color: #05a4a4 !important;
    text-decoration: none;
}

.footer-crypto>.footer-account {
    color: #fff;
}

.footer-account {
    padding-left: 2%;
}

.footer .fa {
    color: teal;
    margin-left: 1rem;
}

.search-btn {
    max-width: 100px;
    margin-left: 1rem;
}

@media only screen and (max-width: 600px) {
    .search-btn {
        margin-right: auto;
        margin-left: auto;
        margin-top: 1rem;
    }
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item:hover,
.nav-tabs .nav-item:focus {
    color: teal;
    background: transparent;
}

.nav-tabs .nav-item.show .nav-link {
    background: transparent;
    color: #fff;
}

th {
    color: teal;
}