#mainNav {
    box-shadow: 0px 1px grey !important;
}

.card {
    min-height: 0;
    background: #fff;
}

.card-img-over {
    width: 100px;
    height: auto;
    margin-top: 5px;
}

.chart-modal-body {
    height: 40rem !important;
}

.inverse>a,
.inverse>a>button {
    color: teal !important;
}

.inverse>a:hover,
.inverse>a:focus,
.inverse>a>button:hover {
    background: teal !important;
    color: #000000 !important;
    text-decoration: none;
}

.navbar-toggler>span,
.navbar-toggler-icon {
    color: teal !important;
    z-index: 100000;
}

table {
    overflow-x: auto !important;
}

.bg-inverse a,
.bg-inverse .navbar-toggler>span,
.navbar-toggler-icon {
    color: teal !important;
}

.bg-inverse>a:hover,
.bg-inverse>a:focus,
.bg-inverse>a>button:hover {
    background: teal !important;
    color: #000000;
    text-decoration: none;
}